* {
  font-family: 'Inter', sans-serif;;
} 

html {
  background: url("/green.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opac {
  background-color: rgba(244, 248, 249, 0.5);
  margin: 50px 100px;
  border-radius: 1rem;
}


img {
  width: 150px;
  border-radius: 5px;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.title-text {
  font-family: 'Dancing Script', cursive;
}

.center {
  text-align: center;
}