* {
  font-family: 'Inter', sans-serif;
  text-indent: 1rem;
} 

html {
  background: url("./photos/green.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

.photo {
  display: flex;
}

.landscape {
  width: 200px;
  margin-right: 10px;
}

.portrait {
  width: 150px;
  margin-left: 10px;
}

.title-text {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.signature {
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
  margin: 5px;
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .container{
    padding: 10px;
  }
  body {
    background-color: rgba(244, 248, 249, 0.5);
    margin: 5px 25px;
    border-radius: 1rem;
  }
  .photo {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .container{
    padding: 20px;
  }
  body {
    background-color: rgba(244, 248, 249, 0.5);
    margin: 25px 55px;
    border-radius: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: rgba(244, 248, 249, 0.5);
    margin: 30px 75px;
    border-radius: 1rem;
  }
  .container {
    padding: 25px 75px;
  }  
}

@media only screen and (min-width: 992px) {
  body {
    background-color: rgba(244, 248, 249, 0.5);
    margin: 50px 100px;
    border-radius: 1rem;
  }
  .container {
    padding: 50px 100px;
  }
}